<% include ../../partials/header.ejs %>

<h1>Connect BCB Accounts</h1>

<div class="row">

  <div class="col">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Verify Ownership</h4>
        <p class="card-text">
          To verify that you own the Bcb address send <b>from the address to be verified</b>.
        </p>
        <p>
          <b>With this donation you help funding the costs of My BCB. Thank you for your support!</b>
        </p>
        <p>
          The amount is <%= amount %> BCB or <%= amount_raw %> raw.<br> You probably need the <a href="https://github.com/nanocurrency/raiblocks/wiki/RPC-protocol#send"
            target="_blank" rel="noreferer, noopener">RPC send command</a> or send via a Wallet GUI by importing the seed.
          <div id="nano-button" class="btn btn-primary2 mb-3">
            Start verification
          </div>
          <h4 id="statustext"></h4>
        </p>
      </div>
    </div>
  </div>

</div>

<script src="/static/js/accept-nano/index.js"></script>

<script>

  init.push(function () {
    $("#nano-button").click(
      verifyPayment('123456')
    )
  });

  function verifyPayment(token) {
    setPaymentStatus('Verifying payment...');

    setPaymentStatus('Success! Redirecting...');
        setTimeout(function () {
          window.location = "/account/" + 'bcb_3k1t686z3hacjzigg3a4zrik4pgmsijxsad8r8ieo916ewfkr17n4wos8yq9';
        }, 1 * 1000);
  }

  function setPaymentStatus(status) {
    $("#statustext").text(status);
  }
</script>

<% include ../../partials/footer.ejs %>